<ibm-structured-list>
  <ibm-list-header>
    <ibm-list-column nowrap="true">Pokemon</ibm-list-column>
    <ibm-list-column>Details</ibm-list-column>
  </ibm-list-header>

  <ibm-list-row *ngFor="let p of pokemon">
    <ibm-list-column>
      <div fxLayout="row">
        <div>
          <p>{{ p.name }}</p>
          <p>{{ p.classification }}</p>
          <p>{{ p.types }}</p>
        </div>
        <div>
          <button *ngIf="favObj[p.id]" ibmButton="ghost" (click)="markFavorite(p.id, 0)">
            <svg
              icon
              ibmIconStarFilled
              size="20"
              class="bx--overflow-menu__icon"
            ></svg>
          </button>
          <button *ngIf="!favObj[p.id]" ibmButton="ghost" (click)="markFavorite(p.id, 1)">
            <svg
              icon
              ibmIconStar
              size="20"
              class="bx--overflow-menu__icon"
            ></svg>
          </button>
        </div>
      </div>
    </ibm-list-column>
    <ibm-list-column>
      <p><strong>Resistant:</strong> {{ p.resistant }}</p>
      <p><strong>Weaknesses:</strong> {{ p.weaknesses }}</p>
      <p>
        <strong>Weight:</strong> {{ p.weight.minimum }} {{ p.weight.maximum }}
      </p>
      <p>
        <strong>Height:</strong> {{ p.height.minimum }} {{ p.height.maximum }}
      </p>
      <p><strong>Flee Rate:</strong> {{ p.fleeRate }}</p>
      <p *ngIf="p.evolutionRequirements">
        <strong>Evolution Requirements:</strong>
        {{ p.evolutionRequirements.amount }} {{ p.evolutionRequirements.name }}
      </p>
      <p *ngIf="p.evolutions">
        <strong>Evolutions:</strong>
        <span *ngFor="let e of p.evolutions">{{ ' ' + e.name }}</span>
      </p>
      <p><strong>Max CP:</strong> {{ p.maxCP }}</p>
      <p><strong>Max HP:</strong> {{ p.maxHP }}</p>
      <div>
        <strong>Fast Attacks:</strong>
        <p *ngFor="let f of p.attacks.fast">
          {{ ' ' + f.name }}({{ f.type }}) - {{ f.damage + ' damage' }}
        </p>
      </div>
      <div>
        <strong>Special Attacks:</strong>
        <p *ngFor="let s of p.attacks.special">
          {{ ' ' + s.name }}({{ s.type }}) - {{ s.damage + ' damage' }}
        </p>
      </div>
    </ibm-list-column>
  </ibm-list-row>
</ibm-structured-list>
