<div fxLayout="column" fxLayoutGap="10px">
  <div>
    <ibm-label>
      Search
      <input ibmText theme="dark" placeholder="name..." [(ngModel)]="name" />
    </ibm-label>
  </div>

  <ibm-toggle
    label="Only Favorites"
    onText="Show"
    offText="Hide"
    [(checked)]="showFavorites"
    size="md"
  >
  </ibm-toggle>

  <div *ngFor="let t of types$ | async">
    <ibm-checkbox checked="true" (change)="onChangeTypes($event, t)">
      {{ t }}
    </ibm-checkbox>
  </div>

  <button ibmButton="primary" size="sm" (click)="query()">Update</button>

  <div>
    <ibm-label>
      Start At
      <input ibmText theme="dark" placeholder="0 for first record" [(ngModel)]="startAt" />
    </ibm-label>
  </div>

  <div>
    <ibm-label>
      Take
      <input ibmText theme="dark" placeholder="0 min to 151 max" [(ngModel)]="take" />
    </ibm-label>
  </div>
</div>
