<div fxFlex fxLayout="column" fxLayoutAlign="center center" class="bottom-pad">

    <div fxFlex></div>

    <div style="min-width: 300px;" fxLayout="column" fxLayoutGap="40px">

        <p>
            > <span [ng-typed]="{speed: 40, cursor:'_', timeout: 1000}">Log in to broadreach</span>
        </p>

        <app-login></app-login>

        <!-- <div fxLayout="column">
            <span class="helper-text-01">Don't have an account?</span>
            <a [routerLink]="[ '/register']" ibmLink>Create an account</a>
        </div> -->

    </div>

    <div fxFlex></div>

</div>
